.contents1 {
  position:relative;
}
.contents1 h2 {
  position:absolute;
  font-weight:normal;
  top:5%;
  left:5%;
}
.contents1 h3 {
  font-weight:bold;
}
.lesson-contents {
  margin-top:30px;
}
.lesson {
  text-align:left;
  line-height:1.5em;
}
.lesson-place {
  margin-top:30px;
  text-align:left;
}

/*　画面サイズがから1024pxここを読み込む　*/
@media screen and (min-width:900px) {
  .lesson-contents {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-top:30px;
  }
  .lesson {
    width:45%;
    text-align:left;
    line-height:1.8em;
  }
 
}


